In [44]:
import pandas as pd
df=pd.read_csv("/content/SAMPLE.csv")
df

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [45]:
df.loc[df.arrears >30].arrears.values

array([66., 33.])

In [46]:
df.loc[df.arrears>30].drop

<bound method DataFrame.drop of     sl No name   college   hsc  SSLC  arrears  cmark
8     8.0   A8  SAVEETHA  99.8  65.8     66.0   77.5
18   14.0  A13       SRM  86.9  97.0     33.0   92.0>

In [47]:
df.drop(df.loc[df['arrears']>30].index,inplace=True)

In [48]:
df

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [51]:
df1=pd.read_csv("/content/SAMPLE.csv")
df1

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [56]:
df1.loc[df1["arrears"] > 30, "arrears"] = 30

In [57]:
df1

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     30.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     30.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [58]:
import pandas as pd
df2=pd.read_csv("/content/SAMPLE.csv")
df2

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [59]:
df2.drop(df2.loc[(df2["arrears"]>30) & (df2["cmark"]>50)].index,inplace=True)

In [60]:
df2

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [61]:
import pandas as pd
df3=pd.read_csv("/content/SAMPLE.csv")
df3

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [62]:
import numpy as np
df3.loc[(df3["arrears"]>30)&(df3["cmark"]>50),["arrears","cmark"]]=np.nan

In [67]:
df3

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8      NaN    NaN
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0      NaN    NaN
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [70]:
df3.drop(df3.loc[(df3["arrears"]>=6.0) & (df3["cmark"]>=90.0)].index,inplace=True)

In [71]:
df3

    sl No name              college   hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN   NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.9  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.8  77.9      3.0    NaN
4     4.0   A4  ANAMALAI UNIVERSITY  92.5  94.6      1.0   76.0
5     5.0   A5                  NaN  79.3  65.0      2.0   89.0
6     6.0   A6                  SRM  99.8  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.8   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.8  65.8      NaN    NaN
9    56.0  A34             SAVEETHA  99.8  99.8      5.0   77.5
11    NaN  NaN                  NaN   NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN   NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.7  91.0      2.0   76.0
14   10.0   AD               fogjof  56.0   9.0      NaN    2.0
15   11.0  A10                 IITM  94.0  77.6      1.0   75.0
16   12.0  A11                  NaN  88.2   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.9  84.9      3.0   83.0
18   14.0  A13                  SRM  86.9  97.0      NaN    NaN

In [82]:
import pandas as pd
df3=pd.read_csv("/content/SAMPLE.csv")
df3

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [83]:
df3.drop(df3.loc[(df3["arrears"]>=7.0) & (df3["cmark"]>=70.0)].index,inplace=True)

In [73]:
df3

    sl No name              college   hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN   NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.9  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.8  77.9      3.0    NaN
4     4.0   A4  ANAMALAI UNIVERSITY  92.5  94.6      1.0   76.0
5     5.0   A5                  NaN  79.3  65.0      2.0   89.0
6     6.0   A6                  SRM  99.8  88.1      0.0   89.6
8     8.0   A8             SAVEETHA  99.8  65.8      NaN    NaN
9    56.0  A34             SAVEETHA  99.8  99.8      5.0   77.5
11    NaN  NaN                  NaN   NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN   NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.7  91.0      2.0   76.0
14   10.0   AD               fogjof  56.0   9.0      NaN    2.0
15   11.0  A10                 IITM  94.0  77.6      1.0   75.0
16   12.0  A11                  NaN  88.2   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.9  84.9      3.0   83.0
18   14.0  A13                  SRM  86.9  97.0      NaN    NaN

In [84]:
df3.loc[df3["SSLC"]<40,"SSLC"]=np.nan

In [85]:
df3

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   NaN      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [86]:
import pandas as pd
df3=pd.read_csv("/content/SAMPLE.csv")
df3

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
14   10.0   AD               fogjof  56.00   9.0      NaN    2.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0

In [89]:
df3.drop(df3.loc[df3["SSLC"]<40].index)

    sl No name              college    hsc  SSLC  arrears  cmark
0     NaN  NaN                  NaN    NaN   NaN      NaN    NaN
1     1.0   A1                 IITM  89.90  92.6      0.0   95.0
2     2.0   A2      ANNA UNIVERSITY  76.80  77.9      3.0    NaN
3     3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
4     4.0   A4  ANAMALAI UNIVERSITY  92.50  94.6      1.0   76.0
5     5.0   A5                  NaN  79.30  65.0      2.0   89.0
6     6.0   A6                  SRM  99.80  88.1      0.0   89.6
7     7.0   A7             SAVEETHA  91.80   NaN      7.0   78.3
8     8.0   A8             SAVEETHA  99.80  65.8     66.0   77.5
9    56.0  A34             SAVEETHA  99.80  99.8      5.0   77.5
10    3.0   A3      ANNA UNIVERSITY    NaN  85.6      6.0   99.0
11    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
12    NaN  NaN                  NaN    NaN   NaN      NaN    NaN
13    9.0   A9  ANAMALAI UNIVERSITY  98.70  91.0      2.0   76.0
15   11.0  A10                 IITM  94.00  77.6      1.0   75.0
16   12.0  A11                  NaN  88.20   NaN      2.0   72.0
17   13.0  A12            dhgvuicbh  78.90  84.9      3.0   83.0
18   14.0  A13                  SRM  86.90  97.0     33.0   92.0
19    3.0   A3      ANNA UNIVERSITY  88.39  85.6      6.0   99.0